
.antes {
    width: 57px;
    height: 24px;
    left: 798px;
    top: 1063px;
    font-family: 'Andika', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: line-through;
    color: #656565;

}
