.texto-card {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.titulo {
    width: 153px;
    height: 27px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #1F1F1F;
    margin: 3% auto;

}